<% if user_signed_in? %>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <%= form_with url:events_url, class: 'p-2', method: :post do %>
      <%= hidden_field_tag :event_type, 'A' %>
      <%= submit_tag 'Event A', class: 'btn btn-primary btn-lg' %>
    <% end %>
    <%= form_with url:events_url, class: 'p-2', method: :post do %>
      <%= hidden_field_tag :event_type, 'B' %>
      <%= submit_tag 'Event B', class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
<% else %>
  <h1>Welcome to Event Manager, Sign in to continue</h1>
<% end %>
